<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bot.api.dialog.DialogDAO">
    <insert id="insertUserDialog">
      INSERT INTO tb_user_dialog (
      user_id,
      dialog_id,
      dialog_status_code,
      regist_ymdt,
      modify_ymdt
      ) VALUES (
      #{userId},
      #{dialogId},
      #{dialogStatusCode},
      NOW(),
      NOW()
      )
    </insert>

    <select id="selectUserDialog" resultType="com.bot.api.model.dialog.Dialog">
      SELECT
      user_id AS userId,
      dialog_id AS dialogId,
      dialog_status_code AS dialogStatusCode
      FROM tb_user_dialog
      WHERE user_id = #{userId}
    </select>

    <update id="updateUserDialog">
      UPDATE tb_user_dialog
      SET dialog_id = #{dialogId}, dialog_status_code = #{dialogStatusCode}, modify_ymdt = NOW()
      WHERE user_id = #{userId}
    </update>

    <delete id="deleteUserDialog">
      DELETE FROM tb_user_dialog
      WHERE user_id = #{userId}
    </delete>
</mapper>