<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bot.api.conversation.profile.ProfileDAO">
    <resultMap id="Profile" type="java.util.HashMap">
        <result javaType="java.lang.String" column="profileName" property="profileName"/>
        <result javaType="java.lang.String" column="profileType" property="profileType"/>
        <result javaType="java.lang.String" column="telephone" property="telephone"/>
        <result javaType="java.lang.String" column="address" property="address"/>
        <result javaType="java.lang.String" column="email" property="email"/>
    </resultMap>

    <select id="selectProfileByName" resultMap="Profile">
        SELECT
        profile_name AS profileName,
        profile_type AS profileType,
        telephone AS telephone,
        address AS address,
        email AS email
        FROM
        tb_profile
        WHERE
        profile_name = #{profileName}
        LIMiT 0, 1
    </select>
</mapper>